<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/style.css'>
    <title>Edit Profile</title>
</head>
<body>
    <div class='register'>
            <br>
            <br>
            <br>
            <br>
            <br>
            <center>
            <br>
            <br>
            <form class='registerForm' method="post" action="/edit/<%=data.id %>?_method=PUT">
                <font size='22px' color='white'>Edit Profile</font>
                <br>
                <br>
                <br>
                <input type="text" name="username" placeholder="Username" value='<%=data.username %>' required>
                <br>
                <br>
                <input type="email" name="email" placeholder="Email" value='<%=data.email %>' required>
                <br>
                <br>
                <input type="submit" value="Edit Profile">
                <br>
                <br>
            </form>
        </center>
        </div>
</body>
</html>